<!DOCTYPE html>
<html ng-app="yyz" ng-controller="dataset.controller">
    <head>
        <title>Dataset | Project YYZ</title>
        
        <!-- MARK: Styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        
        <!-- MARK: Misc -->
        <base href="/client" />
    </head>
    <body>
        <div class="container-fluid" ng-show="loaded">
            <div class="container">
                <h2 class="page-header">
                    <small>
                        <span class="fa fa-angle-double-right"></span>
                        <a href="/">Project YYZ Home</a>
                        <span class="fa fa-angle-double-right"></span>
                    </small>
                    {{dataset.name}}
                </h2>
                <ul id="all-dataset-tables" class="list-group">
                    <a href="/client/{{dataset.name}}/{{tableName}}" id="dataset-table" class="list-group-item" ng-repeat="(tableName, tableValue) in dataset.tables">
                        <h4>{{tableName}}</h4>
                    </a>
                </ul>
            </div>
        </div>
        
        <!-- MARK: Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.min.js"></script>
        <script type="text/javascript">
            //////////////////////////////////////////////////////////////////////
            // Whenever the user (you) requests this page, the server sends     //
            //  a custom header along with the page.                            //
            // In said header, is an API URL. The aforementioned API URL, when  //
            //  a request is sent to it, will return information about whatever //
            //  dataset was specified in it.                                    //
            //                                                                  //
            // The following is a bit of a hack, albeit a neat-ish one, that    //
            //  allows us to get the value of this magical header.              //
            //                                                                  //
            // ========================== Pseudocode ========================== //
            // - Declare a new instance of the 'XMLHttpRequest' object          //
            //  - Open a new GET request to the current page                    //
            //  - Send the aforemention GET request to the server               //
            //  - Store the API URL under the 'window' object                   //
            // - Print the API URL to the console, for debugging                //
            //                                                                  //
            //////////////////////////////////////////////////////////////////////
            with (new XMLHttpRequest()) {
                open("GET", document.location.href, false);
                send(null);
                
                window.yyzApiUrl = getResponseHeader("YYZ-API-URL");
            }
            
            console.info("API URL: %s", window.yyzApiUrl);
        </script>
        <script type="text/javascript" src="client/dist/app.js"></script>
    </body>
</html>