<!DOCTYPE html>
<html ng-app="yyz" ng-controller="root.controller">
    <head>
        <title>Datasets | Project YYZ</title>
        
        <!-- MARK: Styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        
        <!-- MARK: Misc -->
        <base href="/client" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="container">
                <h2 class="page-header">
                    <small>
                        <span class="fa fa-angle-double-right"></span>
                    </small>
                    Project YYZ Home
                </h2>
                <ul id="all-datasets" class="list-group">
                    <a href="/client/{{dataset.name}}/" class="list-group-item" ng-repeat="dataset in datasets">
                        <h4 class="list-group-item-heading">{{dataset.name}}</h4>
                        <p class="list-group-item-text">{{dataset.description}}</p>
                    </a>
                </ul>
            </div>
        </div>
        
        <!-- MARK: Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="client/dist/app.js"></script>
    </body>
</html>