<!DOCTYPE html>
<html ng-app="yyz" ng-controller="table.controller">
    <head>
        <title>Table | Project YYZ</title>
        
        <!-- MARK: Styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        
        <!-- MARK: Misc -->
        <base href="/client" />
    </head>
    <body>
        <div class="container-fluid" ng-show="loaded">
            <div class="row">
                <div class="container">
                    <h2 class="page-header">
                        <small>
                            <span class="fa fa-angle-double-right"></span>
                            <a target="_self" href="/">Project YYZ Home</a>
                            <span class="fa fa-angle-double-right"></span>
                            <a target="_self" href="/client/{{table.parent}}/">{{table.parent}}</a>
                            <span class="fa fa-angle-double-right"></span>
                        </small>
                        {{table.self}}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <input type="text" class="form-control" placeholder="Search this table" ng-model="searchTerm" ng-change="tableSearchDelegate(searchTerm)">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><a href="javascript:void(0)" data-toggle="collapse" data-target="#columns-collapse">Columns</a> <small>(<a href="javascript:void(0)" ng-click="showAllColumns()">all</a> / <a href="javascript:void(0)" ng-click="hideAllColumns()">none</a>)</small></h4></div>
                        <div id="columns-collapse" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group" ng-repeat="column in table.data.cols">
                                    <p><input type="checkbox" ng-model="table.data.cols[column.internal].visible" ng-change="updateColumns()"> {{column.external}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><a href="javascript:void(0)" data-toggle="collapse" data-target="#filters-collapse">Filters</a></h4></div>
                        <div id="filters-collapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div ng-show="!tableHasFilters()">
                                    <h4>N/A</h4>
                                </div>
                                <div class="form-group" ng-repeat="(filterName, filterValues) in filters" ng-show="table.data.cols[filterName].visible">
                                    <h4>{{table.data.cols[filterName].external}} <small>(<a href="javascript:void(0)" ng-click="selectAll(filterName); updateFilters()">all</a> / <a href="javascript:void(0)" ng-click="deselectAll(filterName); updateFilters()">none</a>)</small></h4>
                                    <p ng-repeat="(item, isVisible) in filterValues"><input type="checkbox" ng-model="filters[filterName][item]" ng-change="updateFilters()"> <span ng-bind-html="formatContent(item)"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <table class="table table-striped" data-table="{{table.self}}">
                        <thead>
                            <tr>
                                <td ng-repeat="column in table.data.cols" ng-show="table.data.cols[column.internal].visible" ng-click="updateSort(column.internal)">
                                    <strong>
                                        {{column.external}}
                                        <small>
                                            <span ng-show="sorts[column.internal] === ''" class="fa fa-arrow-up"></span>
                                            <span ng-show="sorts[column.internal] === '-'" class="fa fa-arrow-down"></span>
                                        </small>
                                    </strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in table.data.rows | filter: searchTerm | filter: tableFilterDelegate | orderBy:tableSortDelegate()">
                                <td ng-repeat="(columnName, columnValue) in row" ng-show="table.data.cols[columnName].visible" data-column="{{table.data.cols[columnName].external}}" data-value="{{columnValue}}" ng-bind-html="formatContent(columnValue)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <!-- MARK: Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            //////////////////////////////////////////////////////////////////////
            // Whenever the user (you) requests this page, the server sends     //
            //  a custom header along with the page.                            //
            // In said header, is an API URL. The aforementioned API URL, when  //
            //  a request is sent to it, will return information about whatever //
            //  dataset was specified in it.                                    //
            //                                                                  //
            // The following is a bit of a hack, albeit a neat-ish one, that    //
            //  allows us to get the value of this magical header.              //
            //                                                                  //
            // ========================== Pseudocode ========================== //
            // - Declare a new instance of the 'XMLHttpRequest' object          //
            //  - Open a new GET request to the current page                    //
            //  - Send the aforemention GET request to the server               //
            //  - Store the API URL under the 'window' object                   //
            // - Print the API URL to the console, for debugging                //
            //                                                                  //
            //////////////////////////////////////////////////////////////////////
            with (new XMLHttpRequest()) {
                open("GET", document.location.href, false);
                send(null);
                
                window.yyzApiUrl = getResponseHeader("YYZ-API-URL");
                
                //////////////////////////////////////////////////////////////////
                // THE FOLLOWING IS A DIRTY-HACK THAT LOADS A CUSTOM STYLESHEET //
                // THE FOLLOWING IS A DIRTY-HACK THAT LOADS A CUSTOM STYLESHEET //
                // THE FOLLOWING IS A DIRTY-HACK THAT LOADS A CUSTOM STYLESHEET //
                // THE FOLLOWING IS A DIRTY-HACK THAT LOADS A CUSTOM STYLESHEET //
                // THE FOLLOWING IS A DIRTY-HACK THAT LOADS A CUSTOM STYLESHEET //
                var styleElem = document.createElement("link");
                
                styleElem.type = "text/css";
                styleElem.rel  = "stylesheet";
                styleElem.href = getResponseHeader("YYZ-STYLESHEET-URL");
                
                document.head.appendChild(styleElem);
                //////////////////////////////////////////////////////////////////
            }
            
            console.info("API URL: %s", window.yyzApiUrl);
        </script>
        <script type="text/javascript" src="client/dist/app.js"></script>
    </body>
</html>